@import 'mixin.scss';

body {
  font-family: serif;
  text-align: center;
  background: #F5F6F0;
  color: #333;
}

#container {
  border: none;
  width: 640px;
  margin: 0px auto;
  padding: 0px;
  background: transparent;
}

h1 {
  font-size: 66px;
  margin: 10px;
  a {
    color: #333;
  }
}

h2 {
  font-size: 25px;
}

.rounded {
  @include border-radius(10px, 10px, 10px, 10px);
  border: 6px solid #CCC;
  margin-bottom: 10px;
  padding: 15px;
  .title {
    background: #CCC;
    margin: -15px -15px 10px -15px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: #FFF -1px -1px 1px;
  }
}

.profile {
  font-size: 22px;
  font-weight: bold;
  .nickname, .days, .date, .age {
    color: #CC0000;
    font-size: 32px;
  }
}

#new_birthday {
  width: 500px;
  margin: 0 auto;
  padding: 30px;
  input[type="text"] {
    @include border-radius(4px, 4px, 4px, 4px);
    border: 1px solid #B3B3B3;
    padding: 10px;
    font-size: 20px;
    width: 200px;
  }
  select {
  }
  input[type="submit"] {
    @include border-radius(14px, 14px, 14px, 14px);
    background: #FF920D;
    border: 1px solid #FF920D;
    padding: 4px 15px 6px;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
  }
}

form label {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  left: -180px;
  display: block;
}

fieldset{
  text-align: left;
  position: relative;
  border:none;
  margin-left: 180px;
  margin-bottom: 10px;
}

.next, .prev {
  font-size: 150%;
  font-weight: bold;
}

.happy-day {
  &.past {
    color: #666;
    .age, .days, .date {
      color: #666;
    }
  }
  .age, .days, .date {
    color: #CC0000;
  }
}