.clearfix:after,
div:after,
ul:after,
dl:after,
form:after,
blockquote:after,
h1:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
.clearfix,
div,
ul,
dl,
form,
blockquote,
h1 {
    min-height: 1px;
    display: block;
}

a { overflow: hidden }
p {
	margin:0px;
	}

body {
	font-family: serif;
	color: #463003;
	background-color: #ebb74b;
	background-image: url(../images/body.gif);
	margin: 0;
}

#container {
	border: none;
	width: 840px;
	background: transparent;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0px;
}

#header {
	background-image:url(../images/header.gif);
	height:63px;
	margin-top: 20px;
	}


h1 {
	font-size: 12px;
	height: 47px;
	display: block;
	padding-top: 15px;
	margin: 0px;
}
  h1 a {
	line-height: 35px;
	background-image: url(../images/h1.gif);
	display: block;
	height: 35px;
	width: 305px;
	text-indent: -9999px;
	margin-right: auto;
	margin-left: auto;
}


.content {
	height: 477px;
	background-image: url(../images/content.gif);
	margin-bottom: 25px;
	}
.profile {
	background-image: url(../images/profile.jpg);
	height: 455px;
	width: 670px;
	padding-left: 60px;
	padding-right: 70px;
	margin-right: auto;
	margin-left: auto;
	}
.profile .shares {
	width: 152px;
	float: left;
	display: block;
	padding-top: 10px;
	height: 120px;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 158px;
	font-size: 15px;
	line-height: 1.6;
	}
.profile .shares p {
	padding: 0px;
	font-size: 13px;
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 7px;
	margin-left: 0px;
	line-height: 1.3;
	}
.profile iframe {
	margin-bottom: 0px;
	margin-top: -2px;
	}
.profile .title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 8px;
	display: block;
	}
.profile .count {
	width: 420px;
	float: right;
	margin-top: 70px;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 30px;
	}
.profile .count p {
	display: block;
	margin-bottom: 22px;
	line-height: 1;
	text-align: right;
	padding-right: 30px;
	}
.top {
	background-image: url(../images/top.jpg);
	height: 455px;
	width: 670px;
	padding-left: 60px;
	padding-right: 70px;
	margin-right: auto;
	margin-left: auto;
	}
.top .description {
	width: 152px;
	float: left;
	display: block;
	padding-top: 10px;
	height: 120px;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 158px;
	font-size: 15px;
	line-height: 1.6;
	}
.top .description a {
	line-height: 19px;
	display: block;
	margin-top: 8px;
	font-size: 12px;
	text-decoration: none;
	background-image: url(../images/description_a.gif);
	height: 19px;
	padding-left: 38px;
	padding-top: 1px;
	margin-left: 20px;
	}
.top .description a:link,
.top .description a:visited {
	padding-top: 1px;
	background-position: left top;
	color: #463003;
	}
.top .description a:hover,
.top .description a:active {
	padding-top: 1px;
	background-position: left bottom;
	color: #1c1300;
	}
.top .form {
	width: 420px;
	float: right;
	margin-top: 70px;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 30px;
	}
.top .title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
	}
.top .title span {
	font-size: 14px;
	text-align: right;
	display: block;
	font-weight: normal;
	}
.error .title {
	text-align: center;
	}
.error .description {
	width: 152px;
	float: left;
	display: block;
	padding-top: 10px;
	height: 100px;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 178px;
	font-size: 15px;
	line-height: 1.6;
	}

.error .to_top a {
	background-image:url("../images/submit.gif");
	background-position:left top;
	border:medium none;
	color:#FDEDCC;
	cursor:pointer;
	display:block;
	font-size:16px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	margin-left:140px;
	width:133px;
	text-align: center;
	text-decoration: none;
	margin-top: 35px;
}
.error .to_top a:link,
.error .to_top a:visited {
	text-shadow:1px 1px 0 #522103;
	background-position: left top;
}
.error .to_top a:hover,
.error .to_top a:active {
	text-shadow: #522103 -1px -1px 0px;
	background-position: right top;
}
h2 {
  font-size: 25px; }


.profile {
  font-size: 18px;
  font-weight: bold; }
  .profile .nickname, .profile .days, .profile .date, .profile .age {
    color: #900;
    font-size: 28px; }

#new_birthday {
	margin: 0;
	padding: 0px;
}
  #new_birthday input[type="text"] {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 1px solid #c6a051;
	font-size: 25px;
	width: 230px;
	font-family: 'Neucha', serif;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-left: 10px;
	font-weight: bold;
	background-color: #fffaef;
	color: #463003;
}
  #new_birthday input[type="submit"] {
	border: none;
	color: #fdedcc;
	font-weight: bold;
	font-size: 16px;
	display: block;
	margin-left: 140px;
	cursor: pointer;
	background-image: url(../images/submit.gif);
	text-shadow: #522103 1px 1px 0px;
	background-position: left top;
	height: 30px;
	width: 133px;
	line-height: 34px;
}
  #new_birthday input[type="submit"]:hover {
	text-shadow: #522103 -1px -1px 0px;
	background-position: right top;
}

form label {
	font-weight: bold;
	font-size: 18px;
	position: absolute;
	left: -155px;
	display: block;
	line-height: 40px;
}

fieldset {
	text-align: left;
	position: relative;
	border: none;
	margin-left: 150px;
	margin-bottom: 5px;
}
fieldset.birth_day label {
	line-height: 26px;
}
fieldset.birth_day span {
	margin-right: 9px;
	margin-left: 5px;
}
fieldset.actions {
	position: static;
	display: block;
	text-align: center;
	margin: 0px;
}

#errorExplanation {
	font-size:14px;
	position: absolute;
	top: 225px;
	display: block;
	color: #8F0C05;
}
#errorExplanation ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#errorExplanation li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.field_with_errors input {background-color:#ee8c91 }
.next, .prev {
  font-size: 150%;
  font-weight: bold; }

.happy-day.past {
	color: #987c40;
}
  .happy-day.past .age, .happy-day.past .days, .happy-day.past .date {
	color: #987c40;
}
.happy-day .age, .happy-day .days, .happy-day .date {
	color: #900;
	font-weight: bold;
}

#footer {
	text-align: right;
}
#footer a:link,
#footer a:visited {
	color: #492e06;
	text-decoration: none;
}
#footer a:hover,
#footer a:active {
	color: #900;
	text-decoration: underline;
}




div.happy_days {
	background-image:url(../images/happy_days.gif);
	margin-bottom: 35px;
}
div.happy_days .title {
	background-image:url(../images/future_title.gif);
	text-align: center;
	padding-top: 65px;
	font-size: 26px;
	line-height: 26px;
	padding-bottom: 25px;
}
ul.happy_days {
	background-image:url(../images/happy_days_ul.gif);
	margin: 0px;
	padding-top: 0px;
	padding-right: 85px;
	padding-bottom: 80px;
	padding-left: 85px;
	list-style-position: outside;
	list-style-type: none;
	background-repeat: no-repeat;
	background-position: left bottom;
}
ul.happy_days li {
	background-image:url(../images/happy_days.gif);
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	list-style-position: outside;
	list-style-type: none;
	font-size: 16px;
	display: block;
	line-height: 20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #C19F5E;
	clear: both;
}
ul.happy_days li a {
	font-size: 13px;
	display: block;
	float: right;
	font-weight: bold;
	color: #EDD094;
	text-decoration: none;
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-top-radius: 4px;
}
ul.happy_days li a:link,
ul.happy_days li a:visited {
	background-color: #492e06;
}
ul.happy_days li a:hover,
ul.happy_days li a:active {
	background-color: #900;
}
#flash_notice {
	display:none;
}
